@model Wejobr.Models.Recrutador

<link rel="stylesheet" href="~/css/recrutador.css">

@{
    ViewData["Title"] = "Cadastro de Recrutador";
}

<main class="container pt-4">
    <section class="container-fluid" id="recrutSection1">
        <h2>Cadastro de Recrutador</h2>

<hr />

<form asp-action="Create" class="container d-flex flex-column justify-content-center mt-3 mb-4 p-3 border border-light shadow-sm bg-light rounded">
  <div asp-validation-summary="ModelOnly" class="text-danger"></div>
  <div class="form-row">
    <div class="col-md-6 mb-3">
      <label asp-for="Nome_recrutador" class="control-label">Nome do recrutador</label>
      <input asp-for="Nome_recrutador" class="form-control" placeholder="Informe o nome completo" />
      <span asp-validation-for="Nome_recrutador" class="text-danger"></span>
    </div>
    <div class="col-md-6 mb-3">
      <label asp-for="Email_recrutador" class="control-label">E-mail comercial</label>
      <input type="email" asp-for="Email_recrutador" class="form-control" aria-describedby="emailHelp" placeholder="nome@empresa.com" />
      <small id="emailHelp" class="form-text text-muted">Nunca vamos compartilhar seu email com ninguém.</small>
      <span asp-validation-for="Email_recrutador" class="text-danger"></span>
    </div>
  </div>
  <div class="form-row">
    <div class="col-md-4 mb-3">
      <label asp-for="Tel_recrutador" class="control-label">Telefone</label>
      <input asp-for="Tel_recrutador" class="form-control" placeholder="Seu número comercial" />
      <span asp-validation-for="Tel_recrutador" class="text-danger"></span>
    </div>
    <div class="col-md-4 mb-3">
      <label asp-for="Contato2_recrutador" class="control-label">Telefone 2</label>
      <input asp-for="Contato2_recrutador" class="form-control" placeholder="Seu número de celular" />
      <span asp-validation-for="Contato2_recrutador" class="text-danger"></span>
    </div>
    <div class="col-md-4 mb-3">
      <label asp-for="Senha_recrutador" class="control-label">Senha</label>
      <input type="password" asp-for="Senha_recrutador" class="form-control" aria-describedby="passwordHelp" placeholder="Senha" />
      <small id="passwordHelp" class="form-text text-muted">Deve ter de 8 a 20 caracteres e ser alfanumérico com caractere especial</small>
      <span asp-validation-for="Senha_recrutador" class="text-danger"></span>
    </div>
  </div>
  <div class="form-row">
    <div class="col-md-6 mb-3">
        <label asp-for="Nome_empresa" class="control-label">Nome da empresa</label>
        <input asp-for="Nome_empresa" class="form-control" placeholder="Nome da empresa representada" />
        <span asp-validation-for="Nome_empresa" class="text-danger"></span>
    </div>
    <div class="col-md-6 mb-3">
      <label asp-for="Id_empresa" class="control-label">Código identificador da empresa</label>
      <input asp-for="Id_empresa" type="text" class="form-control" placeholder="ID da empresa">
      <span asp-validation-for="Id_empresa" class="text-danger"></span>
    </div>
  </div>
  <div class="form-row">
    <div class="col-md-6 mb-3">
        <label asp-for="Departamento_recrutador" class="control-label">Departamento</label>
        <input asp-for="Departamento_recrutador" class="form-control" placeholder="Nome do departamento do recrutador" />
        <span asp-validation-for="Departamento_recrutador" class="text-danger"></span>
    </div>
    <div class="col-md-6 mb-3">
      <label asp-for="Cargo_recrutador" class="control-label">Cargo</label>
      <input asp-for="Cargo_recrutador" class="form-control" placeholder="Cargo do recrutador" />
      <span asp-validation-for="Cargo_recrutador" class="text-danger"></span>
    </div>
  </div>
  <div class="form-group">
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="" id="invalidCheck3" required>
      <label class="form-check-label" for="invalidCheck3">
        Concordo com os termos e condições
      </label>
      <div class="invalid-feedback">
        Você deve concordar, antes de continuar.
      </div>
    </div>
  </div>
  <button class="btn btnVaga" type="submit">Cadastrar recrutador</button>
  <a asp-action="Index" class="btn btnFechar" type="button" >Voltar para painel</a>
</form>

  </section>
</main>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
