@model Wejobr.Models.Recrutador

<link rel="stylesheet" href="~/css/recrutador.css">

@{
    ViewData["Title"] = "Cadastrar recrutador";
}

<main class="container pt-4">
   <section class="container-fluid" id="recrutSection1">
    <h2 class="mt-3 ml-3">Cadastrar Recrutador</h2>


<div class="container justify-content-center mt-3 p-4 border border-light shadow-sm bg-light rounded">
    <form asp-action="Create" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group row">
            <label asp-for="Nome_recrutador" class="col-sm-2 col-form-label">Nome do recrutador</label>
            <div class="col-sm-7">
                <input type="text" asp-for="Nome_recrutador" class="form-control bg-light">
                <span asp-validation-for="Nome_recrutador" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row">
            <label asp-for="Email_recrutador" class="col-sm-2 col-form-label">E-mail</label>
            <div class="col-sm-7">
                <input type="email" asp-for="Email_recrutador" class="form-control bg-light">
                <span asp-validation-for="Email_recrutador" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row">
            <label asp-for="Tel_recrutador" class="col-sm-2 col-form-label">Telefone comercial</label>
            <div class="col-sm-7">
                <input type="text" asp-for="Tel_recrutador" class="form-control bg-light">
                <span asp-validation-for="Tel_recrutador" class="text-danger"></span>
            </div>
        </div>



        <div class="form-group row">
            <label asp-for="Contato2_recrutador" class="col-sm-2 col-form-label">Telefone celular</label>
            <div class="col-sm-7">
                <input type="text" asp-for="Contato2_recrutador" class="form-control bg-light">
                <span asp-validation-for="Contato2_recrutador" class="text-danger"></span>
            </div>
        </div>


        <div class="form-group row">
            <label asp-for="Senha_recrutador" class="col-sm-2 col-form-label">Senha</label>
            <div class="col-sm-4">
                <input type="password" asp-for="Senha_recrutador" class="form-control bg-light" id="inputPassword3">
            </div>
        </div>

        <div class="form-group row">
            <label for="inputPassword3" class="col-sm-2 col-form-label">Confirmar senha</label>
            <div class="col-sm-4">
                <input type="password" class="form-control bg-light" id="inputPassword3">
            </div>
        </div>



        <div class="form-group row">
            <label asp-for="Nome_empresa" class="col-sm-2 col-form-label">Empresa representada</label>
            <div class="col-sm-7">
                <input type="text" asp-for="Nome_empresa" class="form-control bg-light">
                <span asp-validation-for="Nome_empresa" class="text-danger"></span>
            </div>
        </div>



        <div class="form-group row">
            <label asp-for="Id_empresa" class="col-sm-2 col-form-label">Código identificador da empresa</label>
            <div class="col-sm-7">
                <input type="text" asp-for="Id_empresa" class="form-control bg-light">
                <span asp-validation-for="Id_empresa" class="text-danger"></span>
            </div>
        </div>


        <div class="form-group row">
            <label asp-for="Departamento_recrutador" class="col-sm-2 col-form-label"> Departamento</label>
            <div class="col-sm-7">
                <input type="text" asp-for="Departamento_recrutador" class="form-control bg-light">
                <span asp-validation-for="Departamento_recrutador" class="text-danger"></span>
            </div>
        </div>



        <div class="form-group row">
            <label asp-for="Cargo_recrutador" class="col-sm-2 col-form-label">Cargo</label>
            <div class="col-sm-7">
                <input type="text" asp-for="Cargo_recrutador" class="form-control bg-light">
                <span asp-validation-for="Cargo_recrutador" class="text-danger"></span>
            </div>
        </div>




        <div class="form-check">
            <input class="form-check-input bg-light" type="checkbox" value="" id="defaultCheck1">
            <label class="form-check-label" for="defaultCheck1">
                Li e aceito os presentes Termos e Condições de Uso
            </label>
        </div>

        <div class="btnConfirmar">
            <button type="submit" value="Create" class="btn btnCadastrar my-2 my-sm-2 ml-2">Confirmar</button>
            <a type="button" asp-area="" asp-controller="Home" asp-action="Admin" class="btn btnFechar">Voltar</a>
        </div>

    </form>
</div>

</section>
</main>

        @section Scripts {
            @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
        }