@model Wejobr.Models.Empresa

    <link rel="stylesheet" href="~/css/empresas.css">

@{
    ViewData["Title"] = "Editar cadastro de empresa";
}

<main class="container pt-4">
    <section class="container-fluid" id="empresasSection1">
<h2 class="mt-3">Editar dados da empresa</h2>
<hr />

<div class="row container m-auto mt-3 p-4 border border-light shadow-sm bg-light rounded">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id_empresa" />

            <div class="form-group">
                <label asp-for="Nome_empresa" class="control-label">Nome da empresa</label>
                <input asp-for="Nome_empresa" class="form-control" />
                <span asp-validation-for="Nome_empresa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cnpj_empresa" class="control-label">CNPJ</label>
                <input asp-for="Cnpj_empresa" class="form-control" />
                <span asp-validation-for="Cnpj_empresa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cep_empresa" class="control-label">CEP</label>
                <input asp-for="Cep_empresa" class="form-control" />
                <span asp-validation-for="Cep_empresa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ramo_empresa" class="control-label">Ramo</label>
                <input asp-for="Ramo_empresa" class="form-control" />
                <span asp-validation-for="Ramo_empresa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Telefone_empresa" class="control-label">Telefone</label>
                <input asp-for="Telefone_empresa" class="form-control" />
                <span asp-validation-for="Telefone_empresa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Linkedin_empresa" class="control-label">LinkedIn</label>
                <input asp-for="Linkedin_empresa" class="form-control" />
                <span asp-validation-for="Linkedin_empresa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button type="submit" value="Save" class="btn btnCadastrar my-2 my-sm-2 ml-2">Confirmar</button>
                <a class="btn btnFechar" asp-controller="Empresas" asp-action="IndexAdmin">Voltar</a>
            </div>
        </form>
    </div>
</div>
</section>
</main>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
