<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<link rel="stylesheet" href="~/css/navFooter.css">



@{
    ViewData["Title"] = "Admin";
}


<div class="container justify-content-center mt-3 p-4 border border-light shadow-sm bg-light rounded">
    <h1>Administração de candidatos</h1>
    <hr>
    <a class="text-dark d-flex" asp-area="" asp-controller="Candidatoes" asp-action="Create">Cadastrar candidato</a>
    <a class="text-dark d-flex" asp-area="" asp-controller="Candidatoes" asp-action="Index">Listar candidatos</a>
    <a class="text-dark d-flex" asp-area="" asp-controller="Candidatoes" asp-action="Index">Editar candidato</a>
    <a class="text-dark d-flex" asp-area="" asp-controller="Candidatoes" asp-action="Index">Excluir candidato</a>



</div>


<div class="container justify-content-center  mt-3 p-4 border border-light shadow-sm bg-light rounded">
    <h1>Administração de empresas</h1>
    <hr>
    <a class="text-dark d-flex" asp-area="" asp-controller="Empresas" asp-action="Create">Cadastrar empresa</a>
    <a class="text-dark d-flex" asp-area="" asp-controller="Empresas" asp-action="IndexAdmin">Listar empresas</a>
    <a class="text-dark d-flex" asp-area="" asp-controller="Empresas" asp-action="IndexAdmin">Editar empresa</a>
    <a class="text-dark d-flex" asp-area="" asp-controller="Empresas" asp-action="IndexAdmin">Excluir empresa</a>


</div>


<div class="container justify-content-center mt-3 p-4 border border-light shadow-sm bg-light rounded">
    <h1>Administração de recrutador</h1>
    <hr>
    <a class="text-dark d-flex" asp-area="" asp-controller="Recrutadors" asp-action="Create">Cadastrar recrutador</a>
    <a class="text-dark d-flex" asp-area="" asp-controller="Recrutadors" asp-action="Index">Listar recrutadores</a>
    <a class="text-dark d-flex" asp-area="" asp-controller="Recrutadors" asp-action="Index">Editar recrutador</a>
    <a class="text-dark d-flex" asp-area="" asp-controller="Recrutadors" asp-action="Index">Excluir recrutador</a>

</div>


<div class="container justify-content-center mt-3 p-4 border border-light shadow-sm bg-light rounded">
    <h1>Administração de vagas</h1>
    <hr>
    <a class="text-dark d-flex" asp-area="" asp-controller="Vagas" asp-action="Create">Cadastrar vaga</a>
    <a class="text-dark d-flex" asp-area="" asp-controller="Vagas" asp-action="IndexAdmin">Listar vagas</a>
    <a class="text-dark d-flex" asp-area="" asp-controller="Vagas" asp-action="IndexAdmin">Editar vaga</a>
    <a class="text-dark d-flex" asp-area="" asp-controller="Vagas" asp-action="IndexAdmin">Excluir vaga</a>

</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

